/* Mobile Device */
@media(max-width: 500px){
    body{
        max-width: 100vw;
        height: fit-content;
    }
    .container {
        max-width: 90vw;
        margin: auto;
        text-align: center;
    }

    .container .top-panel h1 {
        margin: 1rem;
    }

    .container .top-panel nav{
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
    }

    .container .top-panel nav ul{
        display: flex;
        justify-content: space-between;

    }

    .container .top-panel nav ul li{
        display: block;
        padding: 0.5rem;
        margin: 0.1rem;
        border-radius: 1rem;
    }

    .container main{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .container main .left{
        width: 100%;
    }

    .container main .left .title {
        display: none;
    }


    .container main .left p{
        max-width: 40rem;
        margin: 0 0 2rem 0;
    }

    .container main .left .buttons{
        display: flex;
        justify-content: space-around;
    }

    .container main .left .buttons li{
        display: block;
        padding: 0.6rem;
        border-radius: 1.5rem;
    }

    .container main .left .social {
        display: flex;
        width: 100%;
        justify-content: space-around;
        padding: 0.4rem;
        margin: 0.5rem 0;
    }

    .container main .left .social li{
        display: block;
        text-align: center;
        background-color:#144069;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        padding: 0.2rem;
    }

    .container main .right {
        padding: 0.2rem;
        margin: 0.5rem;
        display: flex;
        flex-direction: row;
        height: 35vh;
    }

    .container main .right .astronaut{
        height: 23vh;
        position: relative;
        top: 5rem;
        right: 3.5rem;
    }

    .container main .right .quote{
        height: 14vh;
        position: relative;
        left: 2rem;
    }
}