*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.picture figure {
    display: inline;
}

.picture figure img {
    width: 540px;
    height: 304px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    transition: 600ms;
}

.picture .original {
    position: absolute;
    width: 540px;
    height: 304px;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.picture figure img:hover{
    opacity: 0;
}

