* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    src: url(BankGothic.ttf);
    font-family: BankGothic;
}

.font {
    font-family: BankGothic;
}

a {
    text-decoration: none;
    color: beige;
}

.button-1 {
    border: 3px solid #b7d2ec;
}

.button-2 {
    background: #144069;
}

body {
    background-color: #1998d3;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    overflow: hidden;
    line-height: 1.6rem;
}

/* NavBar */



.top-panel h1 #xdesign {
    font-size: 3rem;
    font-style: italic;
}
.top-panel ul li{
    background: #163a5c;
    transition: 300ms;
}

.top-panel ul li:hover{
    background: #1a466e;
}

@keyframes animate3 {
    from{
        transform: translateX(-500px);
    }
    
    to {
        transform: translateX(0);
    }
}

@keyframes animate1 {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }

}


@keyframes animate2 {
    from {
        transform: translateY(-200px);
    }

    to {
        transform: translateY(0px);
    }